<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    .main-container
      .header-container
        h1= heading
        .search-container
          form(action='/books/')
            input(type="search" for="search" name="search" placeholder="title, author, etc...")
            input(type='submit' id='search')
      block content
        
    script(src='/static/js/main.js')
    
