extends layout.pug

block content
  p
    a(class='button' href='/books/new') Create New Book
    
  if books.length === 0
    h3 Sorry, no search results found. Please try again.
  else 
    table.table-container
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href='/books/' + book.dataValues.id)= book.dataValues.title
            td= book.dataValues.author
            td= book.dataValues.genre
            td= book.dataValues.year
          
  - let index = 1;
  div.pagination-container
    while index < totalPage + 1
        a(href='/books/find/page/' + index + '/?search=' + searchQuery).pagination-links= index++
  p
    a(class='button table-button' href='/') Home
